.button,
.button:visited {
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  font-family: $font-primary;
  margin: 20px 0;
  font-size: 15px;
  outline: none;
  cursor: pointer;
  display: block;
  color: $primary;
  background: $secondary;
  transition: $transition;
  text-align: center;

  &:hover {
    color: $secondary;
    background: $primary;
  }
}

.button-fit {
  width: fit-content;
}

.button-secondary,
.button-secondary:visited {
  color: $secondary;
  background: $primary;

  &:hover {
    color: $primary;
    background: $secondary;
  }
}
