.grid {
  display: flex;
  flex-direction: column;
  @include media(">=tablet") {
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
  }

  &-element {
    flex: 0 0 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;

    @include media(">=tablet") {
      flex: 0 0 49%;
    }

    @include media(">=desktop") {
      flex: 0 0 32%;
    }
  }
}
